@import helper._
@import controllers.forms.CreatePage
@(pageForm: Form[CreatePage], identity: User)(implicit messages: Messages, headers: RequestHeader)

@main("New Page", Some(identity)) {
  <aside>
    <ul>
      <li><a href="@routes.PageController.home()">Home</a></li>
    </ul>
  </aside>
  <h1>New Page</h1>
  @form(action = routes.PageController.createPage) {
    @inputText(pageForm("pageid"))
    @textarea(pageForm("content"))
    @CSRF.formField
    <dl>
      <dt>
        <button type="submit">Create Page</button>
      </dt>
    </dl>
  }
}
