@import helper._
@import controllers.forms.PageEditRequest
@(page: Page, pageForm: Form[PageEditRequest])(implicit messages: Messages, headers: RequestHeader, navigation: () => Option[String])

@main(s"Edit Page ${page.title}") {
  <aside>
    <ul>
      <li><a href="@routes.PageController.page(page.id)">Back to page</a></li>
    </ul>
  </aside>
  <h1>Editing &ldquo;@page.title&rdquo;</h1>
  @form(action = routes.PageController.updatePage(page.id)) {
    <dl>
      <dt>@messages("pageid")</dt>
      <dd>@page.id</dd>
    </dl>
    @textarea(pageForm("content"))
    @CSRF.formField
    <dl>
      <dt>
        <button type="submit">Update Page</button>
      </dt>
    </dl>
  }
}
