@import helper._
@import controllers.forms.PageEditRequest
@import controllers.PageController.PageRequest
@(pageForm: Form[PageEditRequest])(implicit messages: Messages, headers: RequestHeader, request: PageRequest[_])

@main(s"Edit Page ${request.page.title}")(request.navigation) {
  <aside>
    <ul>
      <li><a href="@routes.PageController.page(request.page.id)">Back to page</a></li>
    </ul>
  </aside>
  <h1>Editing &ldquo;@request.page.title&rdquo;</h1>
  @form(action = routes.PageController.updatePage(request.page.id)) {
    <dl>
      <dt>@messages("pageid")</dt>
      <dd>@request.page.id</dd>
    </dl>
    @textarea(pageForm("content"))
    @CSRF.formField
    <dl>
      <dt>
        <button type="submit">Update Page</button>
      </dt>
    </dl>
  }
}
