@import models.User
@(title: String, currentUser: Option[User] = None, flash: Flash = Flash())(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>@title</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <header>
      <h1>Demo Play Application</h1>
    </header>
    <nav>
      <ul>
        <li><a href="@routes.PageController.home">Home</a></li>
        @currentUser.fold {
          <li><a href="@routes.SessionController.signIn">Log In</a></li>
        }{ user =>
          <li><a href="@routes.PageController.newPage">Create New Page</a></li>
          <li>Logged in as @user.username (<a href="@routes.SessionController.signOut">Log Out</a>)</li>
        }
      </ul>
    </nav>
    @flash.get("info").map { message =>
      <aside class="flash info">@Messages(message)</aside>
    }
    <article>
      @content
    </article>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
  </body>
</html>
